
body{
	background-image:url("background.jpg");
}
.a{
    text-align: center;
}

.a h2{
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 30px;
    font-family: 'Kaushan Script', cursive;
    letter-spacing: 5px;
    color:#173D43;
}

.a p{
    width: 1200px;
    margin: auto;
    font-size: 20px;
    text-align: center;
	pa
	
    
}
.pic {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height:400px;
	width:400px;
	padding-top: 90px;
	
}
  img {
    transition: transform 0.5s ease;
	 }

  img:hover {
    
    transform: scale(1.3);
    
  }